[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "QGglmm"]
	path = QGglmm
	url = https://github.com/devillemereuil/qgglmm
[submodule "Reacnorm"]
	path = Reacnorm
	url = https://github.com/devillemereuil/reacnorm
